@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}